.alertAddCarrito {
  background-color: blue;
  position: absolute;
  top: 0px;
  left: 83%;
  height: 8%;
  border-radius: 0 0 30px 30px;
  align-items: center;
  color: white;
  font-size: 15px;
  display: flex;
  text-align: center;
  padding: 10px;
}
